<div id="profile">

	<div id="profile_title">
		<h1>
			<%= @profile_user[:username] %>
		</h1>
		<p>
			<%= "#{@profile_user[:fname]} #{@profile_user[:lname]}" %>
		</p>
	</div>

	<% if @current_user[:id] == @profile_user[:id] %>
		<div id="edit_profile_button">
			<a href=<%= "/profile_edit/#{@current_user.username}" %>>Edit profile</a>
		</div>
	<% else %>
		<% if Follow.where(follower_id: @current_user[:id], followed_id: @profile_user[:id]).first %>			
 			<% @current_follow = Follow.where(follower_id: @current_user[:id], followed_id: @profile_user[:id]).first %>
			<div id="unfollow_button">
				<form method="POST" action="/unfollow">
					<input type="hidden" name="profile_username" value=<%= @profile_user.username %>>
					<input type="hidden" name="follow_id" value=<%= @current_follow.id %>>
					<input id="unfollow_input_button" type="submit" value="Unfollow <%=@profile_user[:username] %>"></input>
				</form>
			</div>
		<% else %>
			<div id="follow_button">
				<form method="POST" action="/follow">
					<input type="hidden" name="profile_id" value=<%= @profile_user[:id] %>>
					<input type="hidden" name="profile_username" value=<%= @profile_user.username %>>
					<input id="follow_input_button" type="submit" value="Follow <%=@profile_user[:username] %>"></input>
				</form>
			</div>

		<% end %>
	<% end %>


	<div id="profile_main">
		<div class="profile_main_nav">
			<ul>
				<li class="active_profile_tab" id="nav_posts">Teewt</li>
				<li id="nav_following">Following</li>
				<li id="nav_followers">Followers</li>
			</ul>
		</div>
		<div class="profile_posts">
			<% @profile_user_posts.reverse.each do |post| %>
        <div class="profile_post">
        	<% if current_user.id == post.user_id %>
            <p class="post_edit">
              <a href=<%= "/edit_post/#{post.id}" %>><i class="fa fa-pencil-square-o"></i></a>
            </p>
          <% end %>
          <p class="post_body">
              <%= post[:body] %>
          </p>
          <p class="post_creator">
              <%= @profile_user[:username] %>
          </p>
       		<p class="post_time">
            <%= post[:created_at] %> 
          </p>
        </div>
    <% end %>
		</div>
		<div class="profile_following">
			<div class="profile_following_user">
					<% @profile_user_follow = Follow.where(follower_id: @profile_user[:id]) %>
					<% if @profile_user_follow != [] %>
						<% @profile_user_follow.each do |follow| %>
							<div class="people_user_follows">
								<i id="following_bird" class="fa fa-twitter"></i>
								<a href=<%= "/profile/#{User.where(id: follow[:followed_id]).first.username}" %>>
									<%= User.where(id: follow[:followed_id]).first.username %>
								</a>
							</div>
						<% end %>
					<% else %>
						<% if @current_user[:id] == @profile_user[:id] %>
							<h3>You are not following anyone.</h3>
							<h6>Boss move.</h6>
						<% else %>
							<h3><%= @profile_user[:username]%> is not following anyone.</h3>
						<% end %>
					<% end %>
			</div>
		</div>
		<div class="profile_followers">
			<div class="profile_followers_user">
					<% @profile_user_followers = Follow.where(followed_id: @profile_user[:id]) %>
					<% if @profile_user_followers != [] %>
						<% @profile_user_followers.each do |follow| %>
							<div class="people_user_follows">
								<i id="follower_bird" class="fa fa-twitter"></i>
								<a href=<%= "/profile/#{User.where(id: follow[:follower_id]).first.username}" %>>
									<%= User.where(id: follow[:follower_id]).first.username %>
								</a>
							</div>
						<% end %>
					<% else %>
						<% if @current_user[:id] == @profile_user[:id] %>
							<h3>You have no flippin' followers.</h3>
						<% else %>
							<h3><%= @profile_user[:username]%> has no followers.</h3>
						<% end %>
					<% end %>
			</div>
		</div>
	</div>

</div>